.project-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

textarea {
    resize: none;
    border: none;
    background-color: transparent;
    color: black !important;
    overflow: hidden;
}

#button-wrapper {
    grid-column-start: 9;
    display: flex;
    gap: 5px;
}

#edit-button {
	justify-self: center;
	width: 3rem;
	height: 2rem;
}

#save-button {
	justify-self: center;
	width: 3rem;
	height: 2rem;
}

.project-title {
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    font-size: max(1rem, 3rem);
    font-weight: 700;
    overflow-wrap: break-word;
}

.project-description {
    grid-area: 3 / 1 / 3 / 7;
}

.project-date {
    grid-area: 1 / 10 / 2 / 13;
    font-size: 1.5rem;
    text-align: end;
}

.task-checklist {
    grid-area: 5 / 1 / 13 / 7;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    overflow: scroll;
}

#add-task {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    background-color: white;
}

.task {
    display: flex;
    min-height: 2rem;
    align-items: center;
}

.task-date {
    margin-left: auto;
}

.project-notes {
    grid-area: 4 / 8 / 13 / 12;
}

#new-task-form {
    height: 100px;
    border: 1px solid;
    /* width: 600px; */
}

.complete-task {
    text-decoration: line-through;
    color: red;
}

.form-fields {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    padding: 0.5rem;
}

.form-fields > * {
    display: flex;
    flex-direction: column;
}

.form-fields > div > input{
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

#form-title {
    grid-area: 1 / 1 / 2 / 2;
}

#form-desc {
    grid-area: 2 / 1 / 3 / 5;
}

#form-date {
    grid-area: 1 / 4 / 2 / 7;
}

#form-submit {
    grid-column-start: 6;
}
